<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-12">
                <div class="site-heading">
                    <h1 class="ar-font mb-2"><%= locals.title %></h1>
                    <p class="ar-font fs-2"><%= locals.description %></p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <% blogs.forEach(blog => { %>
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/articles/<%= blog.slug %>">
                    <h2 class="post-title"><%= blog.title %></h2>
                    <h3 class="post-subtitle">Read More ...</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#"><%= blog.username %></a>
                    on <%= moment(blog.createdAt).format("MMMM Do YYYY") %>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <% }) %>
            
        </div>
    </div>
</div>
